html {
    background: #a4dad2;
}

body .header {
    display: flex;
    width: 100%;
    height: 8%;
    background: #1e439b;
    font-size: 24pt;
    justify-content: space-between;
    color: white;
    padding: 2px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 2px 10px 0px #0f0f1e;
    z-index: 1;

}

.posts {
    width: 100%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    background-color: #0086cb;
    color: white;
    padding: 5px;
    margin-left: 5px;

    box-shadow: 0px 2px 10px 0px #0f0f1e;

}
.postsimg {
    order: -1;
    max-width: 300px;
    height: 100%;
    min-height: 300px;
}
hr {
    color: rgba(255 , 255, 255, 0.3);
    width: 100%;
}
.textPost {

    width: 100%;
    max-width: 250px;
    text-align: left;
    word-wrap: break-word;
    margin-left: 8px;
    font-size: 13pt;
    font-family: serif;
    font-weight: 100;
}
.postcontent {
    display: flex;
    align-items: flex-start;
}
.textinfo {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 12pt;
    margin: 5px;
    order: -1;
    flex-flow: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    max-width: 300px;

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

nav {
    font-family: sans-serif;
    font-size: 24pt;
}

body .holygrail-body {
    flex: 1 0 auto;
    display: flex;
}

body .holygrail-body .content {
    flex: 1 0 auto;
    background: ;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-grow: 1;

}

.content-item-left {

    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: 30%;

}


.content-item-left input[type=text]{
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 14pt;
    line-height: 1.5em;


}
.postText{
    resize: none;
    overflow: hidden;
    width: 300px;
    margin: 0;
    padding: 0;
}

input[type=submit] {
    background-color: #1d136a;
    border: none;
    color: white;
    padding: 14px 24px;
    text-align: center;
    display: inline-block;
    font-size: 14pt;
    width: 100%;
    height: 100%;
    max-height: 50px;
    margin-top: 1px;
}
input[type=submit]:hover {
    background-color: #1b51a6;

}
input[type=submit]:focus {
    border: #2f2f4f 1px solid;
}


.content-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;

}

.usercontrol {
    display: flex;
    justify-content: space-around;
    width: 25%;
    height: 100%;
    background-color: #0086cb;
    color: white;

}


textarea {
    resize: none;
    margin: 0;
    padding: 0;
    height: 100%;
    border: solid black 1px;
    width: 25%;
    max-height: 150px;
}


@media (max-width: 800px) {
.content {
    flex-direction: row;
 }
}
